body {
  background: url(https://i.pinimg.com/564x/ff/c6/9f/ffc69fc75a18430b6273e7aff1f25d8b--wordmark-antalya.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
footer {
  float: right;
}