body{
     background-color: rgb(51,51,51);
     text-align: center;
     color: white;
     position: relative;
     z-index: -30;
}

body.IMAGE {
background: url(../Images/extremeperformance.png) no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         background-color: rgb(100,100,100);
         z-index: -30;
}

#mainNavBar a:hover {
    color: orange;
    }

h3 {
  text-align: center;
}


img {
    position: fixed;
    display: block;
    z-index: -20;
}

legend {
    text-align: center;
    color: white;
}

button {
    color: black;
}
input {
    color:black;
}

form.Search {
    margin: 0 auto;
    width: 100%;
}

.errorRed {
    color: yellow;
    font-weight: bold;
}


.table th, td {
  text-align: center;
}

.table th {
    color: RoyalBlue;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
}